<body>
    <section id="contenu">
    <section>
        <h2>Les tables de multiplication</h2>
        <a href="/first">
            <img src="apprendre-tables-multiplication-panorama.jpg" alt="Extrait de tables de multiplications." />
        </a>
        <p>J'aime les chiffres tout plein beaucoup !</p>
    </section>
    <section>
        <h2>Les mangas</h2>
        <a href="/second">
            <img src="manga.jpg" alt="Extrait de tables de multiplications." />
        </a>
        <p>J'aime les cases contenant du texte !</p>
    </section>
    <section>
        <h2>La photographie</h2>
        <a href="/third">
            <img src="1136_gettyimages-108161282.jpg" alt="Extrait de tables de multiplications." />
        </a>
        <p>J'aime appuyer sur le bouton !</p>
    </section>
</section>

</body>
